{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password Done{% endblock %}
{% block content %}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>الاعدادات</p>
                    <h1>تغير كلمة المرور</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="alert alert-success">
       <p style="text-align: center; font-size:30px">تم تغير كلمة المرور بنجاح</p>

    </div>

</div>
{% endblock %}