{% extends 'base.html' %}
{% load static %}
{% block title %}profile{% endblock %}
{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>الصفحة الشخصية</p>
						<h1>{{fname}} {{lname}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div dir="rtl" class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
								<h2 style="text-align: center;" >
									{% if messages %}
									{% for mess in messages %}
									
									{% if 'danger' == mess.tags%}
									<h4 style="color: red; text-align: center;" >{{mess}}</h4>
									{% endif %}
				  
				  
									{% endfor %}
								  {% endif %}
								</h2>
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          المعلومات الشخصية
						        </button>
						      </h5>
						    </div>

						    <div style="text-align: center;"  id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form method="POST">
										{% csrf_token %}

						        		<p><input style="text-align: center;" type="text" value="{{fname}}" name="fname" placeholder="First Name"></p>
										<p><input style="text-align: center;" type="text" value="{{lname}}" name="lname" placeholder="Last Name"></p>
										<p><input style="text-align: center;" type="text" value="{{age}}" name="age" placeholder="Age"></p>
										<p><input  style="text-align: center;"type="tel" maxlength="11"  value="{{phone}}" name="phone_number" placeholder="Phone"></p>
						        		<p><input style="text-align: center;" readonly type="email" value="{{email}}" name="email" placeholder="Email"></p>
						        		<p><input style="text-align: center;" readonly type="text" value="{{user}}" name="username" placeholder="Username"></p>
										<p style="font-size: 20px;"><a href="{% url 'change_password' %}">تغير كلمة المرور </a></p>
						        		
										<button style="border: none; background: none;" name="btnsave" type="submit"><a class="boxed-btn">حفظ التغيرات</a></button>
						        	</form>
						        </div>
						      </div>
						    </div>
						  </div>
						  <!-- <div class="card single-accordion">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          Shipping Address
						        </button>
						      </h5>
						    </div>
						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="shipping-address-form">
						        	<p>Your shipping address form is here.</p>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          Card Details
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">
						        	<p>Your card details goes here.</p>
						        </div>
						      </div>
						    </div>
						  </div> -->
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr  class="table-head-row">
									<th>الأسم</th>
									<th>الحالة</th>
									<th>اليوم</th>
									<th>الملعب</th>
									
									
									<th >من</th>
									<th >إلي</th>
									<th >المدة</th>
									
									
									
								</tr>
							</thead>
							{% for oph in openingHours  %}
                        	{% if request.user == oph.user %}
							<tbody class="order-details-body">
								<tr>
									<td  style="font-size: 20px;" data-title="الأسم">{{oph.user}} {{oph.user.last_name}}</td>
									{% if oph.to_hour >= time and oph.from_hour <= time %}
									<td style="font-size: 20px;" data-title="الحالة"><a style="font-size: 20px;" style="width: 120px; cursor:none;pointer-events:none" class="btn btn-success">الأن</a></td>
									{% elif oph.to_hour <= time %}
                            		<td style="font-size: 20px;" data-title="الحالة"><a style="font-size: 25px;"  style="width: 120px; cursor:none;pointer-events:none" class="btn btn-warning">منتهية</a></td>
									{% elif oph.from_hour.date == today %}
									<td style="font-size: 20px;" data-title="الحالة"><a style="font-size: 25px;" style="width: 120px; cursor:none;pointer-events:none" class="btn btn-primary">مؤكدة</a></td>

									{% else %}
									<td style="font-size: 20px;" data-title="الحالة"><a style="font-size: 25px;"  style="width: 120px;"  class="btn btn-danger" href="{% url 'delate-booking' oph.id %}" data-toggle="modal" data-target="#staticBackdrop" >حذف  </a><br><strong >تنويه لا يمكن الغاء الحجز قبل 24 ساعة من بدايته</strong></td>

									<!-- Modal Delate  -->
									<div style="width: 400px;" class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
										  <div class="modal-content">
											<div class="modal-header">
											  <h5 class="modal-title" id="staticBackdropLabel">Delate</h5>
											  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											  </button>
											</div>
											<div class="modal-body">
											  <label>Are You Sure to Dealte</label><br>
											  
												  
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnclose">Close</button>
											 <a href="{% url 'delate-booking' oph.id %}"><button  class="btn btn-danger" >Delate</button></a>
											</div>
										  </div>
										</div>
									  </div>
									  


									{% endif %}
									<td style="font-size: 20px;" data-title="اليوم">{{oph.from_hour|date}}</td>
									<td style="font-size: 20px;" data-title="الملعب">{{oph.pitche}}</td>
									<td style="font-size: 20px;" data-title="من">{{oph.from_hour|date:'h:i A'}}</td>
									<td style="font-size: 20px;" data-title="إلي">{{oph.to_hour|date:'h:i A' }}</td>
									<td style="font-size: 20px;" data-title="المدة">{{oph.timing}}</td>
									
								</tr>
								
								{% elif oph.pitche.manager in manager %}
                             	{% if oph.pitche.manager.user == request.user %}
                              <tr>
                                <td style="font-size: 20px;" data-title="الأسم">{{oph.user.first_name}} {{oph.user.last_name}}</td>
								
								{% if oph.to_hour >= time and oph.from_hour <= time %}
								<td style="font-size: 20px;" data-title="الحالة"><a style="font-size: 20px;" style="width: 120px; cursor:none;pointer-events:none" class="btn btn-success">الأن</a></td>

								{% elif oph.to_hour <= time %}
                                  <td style="font-size: 20px;" data-title="الحالة"><a style="font-size: 20px;" style="width: 120px; cursor:none;pointer-events:none" class="btn btn-warning">منتهية</a></td>
                                {% else %}
                                  <td style="font-size: 20px;" data-title="الحالة"><a style="font-size: 20px;" style="width: 120px; cursor:none;pointer-events:none" class="btn btn-primary">مؤكدة</a></td>
                                {% endif %}
                                <td style="font-size: 20px;" data-title="اليوم">{{oph.from_hour|date}}</td>
                                <td style="font-size: 20px;"  data-title="الملعب">{{oph.pitche}}</td>
                                <td  style="font-size: 20px;"data-title="من">{{oph.from_hour|date:'h:i A'}}</td>
                                <td style="font-size: 20px;" data-title="إلي">{{oph.to_hour|date:'h:i A' }}</td>
                                <td style="font-size: 20px;" data-title="المدة">{{oph.timing}}</td>
                                
                                </tr>
								
							</tbody>
							{% endif %}
							{% endif %}
							{% endfor %}
							
							
						</table>
						<!-- <a href="#" class="boxed-btn">Place Order</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->






	
	
	
	

{% endblock %}