{% load static %}
	
    <!-- footer -->
	<div class="footer-area">
		<div   class="container">
			<div class="row">
				<div style="text-align: center;" dir="rtl" class="col-lg-4 col-md-6">
					<div dir="rtl" class="footer-box about-widget">
						<h2 class="widget-title">عن الموقع</h2>
						<p style="font-size: 20px;">موقعنا في 90- يحاول ان يجعل تجربتك في حجز الملاعب اسهل واسرع من أي وقت مضى</p>
					</div>
				</div>
				<div style="text-align: center;" class="col-lg-4 col-md-6">
					<div  class="footer-box get-in-touch">
						<h2 class="widget-title">تواصل معانا</h2>
						<ul style="font-size: 20px;" dir="rtl">
							<!-- <li>34/8, East Hukupara, Gifirtok, Sadan.</li> -->
							<li>mal3bk.23@gmail.com</li>
							<li>01023412334</li>
						</ul>
					</div>
				</div>
				<div style="text-align: center;" class="col-lg-4 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">الصفحات</h2>
						<ul style="font-size: 20px;">
							<li><a href="{% url 'index'%}">الصفحة الرئيسية</a></li>
							{% if request.user.is_authenticated %}
							<li><a href="{% url 'profile' %}">ملفي الشخصي</a></li>
							{% endif %}
							<li><a href="{% url 'pitches' %}">الملاعب</a></li>
							<li><a href="#">طريقة الحجز</a></li>
                            <li><a href="{% url 'contact' %}">تواصل معانا</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 - <a>Osama Mekky</a>,  All Rights Reserved.<br>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->